.git
.env
*.pyc
*.pyo
*.pyd
__pycache__
venv
env
*.sqlite3
*.db
*.log
node_modules
dist
build
.DS_Store
*.egg-info
.coverage
.idea
.vscode
*.swp
*.swo
*.swn
.cache
.mypy_cache
.pytest_cache
staticfiles
media
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.mypy_cache/
**/.pytest_cache/
**/.coverage
**/*.log
**/*.pot
**/*.mo
**/.env
**/.venv